
  <h2 mat-dialog-title>{{dialogName}}</h2>

  <mat-dialog-content [formGroup]="form">
    <input type="text" hidden formControlName="id" matInput>
    <div class='input-fields' >
      <div class="display-flex" >
        <div>
          <label for="" style="display: block;">Họ và tên</label>
          <input type='text' placeholder='' class='input-line full-width' formControlName="fullName" matInput style="margin-right: 15px;"/>
        </div>
        <div>
          <label for="" style="display: block;">Tên đăng nhập</label>
          <input type='text' placeholder='' class='input-line full-width' formControlName="userName" matInput/>
        </div>
        
        
      </div>
      <div class="display-flex">
        <div>
          <label for="" style="display: block;">Số điện thoại</label>
          <input type='text' placeholder='' class='input-line full-width' formControlName="phoneNumber" matInput style="margin-right: 15px;"/>
        </div>
        <div>
          <label for="" style="display: block;">Email</label>
          <input  type='text' placeholder='' class='input-line full-width' formControlName="email" matInput />
        </div>
        

        
      </div>
      <div class="display-flex" *ngIf="isAdd">
        <div>
          <label for="" style="display: block;">Mật khẩu</label>
          <input *ngIf="isAdd" type='password' placeholder='' class='input-line full-width' formControlName="password" matInput style="margin-right: 15px;"/>
        </div>
        <div>
          <label for="" style="display: block;">Xác nhận mật khẩu</label>
          <input *ngIf="isAdd" type='password' placeholder='' class='input-line full-width' formControlName="confirmPassword" matInput/>
        </div>
       
       
      </div>
    </div>
  </mat-dialog-content>
  
  <mat-dialog-actions>
      <button class="mat-raised-button" mat-button (click)="close()">Close</button>
      <button class="mat-raised-button mat-primary" mat-button (click)="save()">Save</button>
  </mat-dialog-actions>

