<div class="login-view">
<div class='bold-line'></div>
<div class='container-register'>
  <div class='window'>
    <div class='overlay'></div>
    <div class='content-login'>
      <div class='welcome'>Đăng kí</div>
      <div class="error-message" >
                    {{errorMsg}}
      </div>
      <form [formGroup]="form">
        <div class='input-fields'>
          <div class="display-flex">
            
            <mat-form-field>
              <mat-label>Họ và tên</mat-label>
              <input type='text'  class='input-line full-width' formControlName="fullName" matInput/>
              <mat-error>Bạn cần điền trường này.</mat-error>
            </mat-form-field>  
            <mat-form-field>
              <mat-label>Tài khoản</mat-label>
              <input type='text'  class='input-line full-width' formControlName="userName" matInput/>
              <mat-error>Bạn cần điền trường này.</mat-error>
            </mat-form-field>  
          </div>
          <div class="display-flex">
            <mat-form-field>
              <mat-label>Số điện thoại</mat-label>
              <input type='text'  class='input-line full-width'  formControlName="phoneNumber" matInput/>
              <mat-error>Bạn cần điền trường này.</mat-error>
            </mat-form-field>  
            <mat-form-field>
              <mat-label>Mật khẩu</mat-label>
              <input type='password'  class='input-line full-width'  formControlName="password" matInput/>   
              <mat-error>Bạn cần điền trường này.</mat-error>      
            </mat-form-field>  
     
          </div>
          <div class="display-flex">
            <mat-form-field>
              <mat-label>Email</mat-label>
              <input type='text'  class='input-line full-width' formControlName="email" matInput/>     
              <mat-error *ngIf="form.controls['email'].errors?.['required']">Bạn cần điền trường này.</mat-error>
              <mat-error *ngIf="form.controls['email'].errors?.['email']">Email không hợp lệ.</mat-error>  
            </mat-form-field>  
            <mat-form-field>
              <mat-label>Xác nhận mật khẩu</mat-label>
              <input type='password'  class='input-line full-width' formControlName="confirmPassword" matInput/>
              <mat-error>Bạn cần điền trường này.</mat-error>
            </mat-form-field>  
        
          </div>
        </div>
        <div class='spacing spacing2'>đã có tài khoản <a routerLink="/login" class="highlight">đăng nhập</a></div>
        <!--  -->
        <div style="display: flex;justify-content: center;"><button  mat-raised-button color="primary" type="submit" (click)="register()">Đăng kí</button></div>
      </form>
    </div>
    
  </div>
</div>
