  .highlight {
    color: #3f51b5;
    font-weight: 500;
    cursor: pointer;
    transition: color .2s ease;
  }
  
  .highlight:hover {
    color: #3f51b5;
    transition: color .2s ease;
  }

  .spacing {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    height: 120px;
    font-weight: 300;
    text-align: center;
    margin-top: 10px;
    color: #3f51b5;
  }
  
  
  .full-width {
    width: 100%;
  }
  
  .input-fields {
    margin-top: 25px;
  }
  
  .container-login {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #eee;
    width: 360px;
    height: 560px;
    position: relative;   
    top:75px; 
    margin: auto;
    z-index: 1;
    background: white;
    border-radius: 4px;
   
  }
  
  .content-login {
    padding-left: 25px;
    padding-right: 25px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    z-index: 5;
    color: #3f51b5;
  }
  
  .welcome {
    font-weight: 200;
    margin-top: 75px;
    height: 40px;
    text-align: center;

    font-size: 2.5rem;
  
    letter-spacing: 0.05rem;
  }
  
  .subtitle {
    text-align: center;
    line-height: 1em;
    font-weight: 100;
    letter-spacing: 0px;
    letter-spacing: 0.02rem;
  }
  
  .menu {
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 50px;
  }
  
  .window {
    z-index: 100;
    color: #fff;
    font-family: roboto;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    box-shadow: 0px 15px 50px 10px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    height: 560px;
    width: 360px;
    background: #fff;
    background: url('https://pexels.imgix.net/photos/27718/pexels-photo-27718.jpg?fit=crop&w=1280&h=823') top left no-repeat;
  }
  
  .overlay {
    
    background: white;
    opacity: 0.85;
    filter: alpha(opacity=85);
    height: 560px;
    position: absolute;
    width: 360px;
    z-index: 1;
  }
  .login-view{
    background: url('../../assets/img/backgroundLogin.jpg') no-repeat fixed;
    background-size: cover;
    height: calc(100vh);
  }
  .bold-line {
    background: #e7e7e7;
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin: auto;
    width: 100%;
    height: 360px;
    z-index: 1;
    opacity:0.1;
      background: url('https://pexels.imgix.net/photos/27718/pexels-photo-27718.jpg?fit=crop&w=1280&h=823') left no-repeat;
    background-size:cover;
  }

  .spacing2{
    height:80px;
  }

  
  @media (max-width: 500px) {
    .window {
      width: 100%;
      height: 100%;
    }
    .overlay {
      width: 100%;
      height: 100%;
    }
  }
.mat-mdc-form-field{
  width: 100%;
}