/* .dialog-background{
  opacity: 0.5;
  background-color: black;
  z-index: 10;
}
.dialog */
.display-flex{
  display:flex;
  justify-content: space-between;
  width: 550px;
}
.mat-mdc-form-field{
  width: 48%;
} 

label{
  font-weight: 500;
}