.btn-table{
  padding-top: 0px;
  padding-bottom: 0px;
  margin-right: 5px;

}

.content-table{
  height: 505px;
  overflow-y: auto;
}

.content-table table thead th {
  z-index: 3;
  position: sticky;
  background-color: rgba(245,245,245);
  top: 0px;
  left: 0px;
  height: 44px;
  cursor: pointer;
  color: black;
  border-bottom: 2px solid rgba(227,227,227) !important;

}

.btn-add{

  margin-right: 20px;
}

.header-container{
  height: 60px;

  background: #3594b2;
  color: white;
}
.header-icon{
width: 150px;
font-size: 25px;
margin-bottom: 5px;
}
.header-item{
margin-left: 12px;
font-size: 14px;
}
.header-account{
margin-right: 20px;
}
.display-flex{
  display: flex;
}
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-spacebetween{
  display: flex;
  justify-content: space-between;
  align-items: center;
}